{% extends 'events/base.html' %}

{% block content %}

{% if user.is_authenticated %}

{% if submitted %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 10vh;">
    <div class="shadow p-4 bg-body rounded" style="width: 60%; min-height: 10vh;">

        <div class="alert alert-success">
            <h5>Your Event Was Submitted Successfully And Will Be Approved Soon!</h5>
        </div>
        <a href="{% url 'list-events' %}">View Events</a>
    </div>
</div>

{% else %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="shadow p-4 bg-body rounded" style="width: 60%; min-height: 50vh;">

        <center>
            <h1>Add New Event</h1>
        </center>

        <form action="" method=POST>
            {% csrf_token %}

            {{ form.as_p }}
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button onclick="window.history.back();" class="btn btn-secondary">Cancel</button>

            </div>
        </form>
        {% endif %}

    </div>
</div>

{% else %}
<h3>
    <div class="alert alert-warning" role="alert">
        <strong>&#9888; You Must Be Logged In To View This Page!</strong><br/>
        <a href="{% url 'login' %}">Log In</a>
    </div>
</h3>

{% endif %}


{% endblock %}