{% extends 'events/base.html' %}

{% block content %}

<style>
    .table {
        width: 60%;
        table-layout: fixed;
    }

    .event-name {
        max-width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .approve-button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
</style>

<!-- Admin Dashboard -->
<h1> Dashboard:</h1>
<br/>
<div class="card" style="width: 18rem;">
  <div class="card-header">
      <strong>MyClub Stats</strong>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Events - {{ event_count }}</li>
    <li class="list-group-item">Venues - {{ venue_count }}</li>
    <li class="list-group-item">Users - {{ user_count }}</li>
  </ul>
</div>

<hr>
<!-- Approval Events Form -->
<h1> Approval Events:</h1>
<br/>

{% if new_events %}
<form action="" method="POST">
    {% csrf_token %}

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Event Name</th>
        </tr>
        </thead>
        {% for event in new_events %}
        <tr>
            <td>
                <div class="d-flex justify-content-between">
                    <div class="event-name">
                        <strong>{{ event }}</strong>
                    </div>
                    <div class="approve-button">
                        <div class="form-check form-switch">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value={{event.id}}
                                   role="switch"
                                   id="flexSwitchCheckDefault{{ event.id }}"
                                   name="boxes">
                            <label class="form-check-label" for="flexSwitchCheckDefault{{ event.id }}">Approve</label>
                            <a href="{% url 'show-event' event.id %}" class="btn btn-info btn-sm">Inspect</a>
                        </div>

                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br/>
    <div>
        <button class="btn btn-primary" type="submit" name="approve_events">Approve Events</button>
    </div>
</form>

{% else %}

<h3>
    There are no new events...
</h3>

{% endif %}

<!-- Past Events Form -->
<br/>
<hr>
<br/>
<h1>Past Events:</h1>
<br/>
{% if past_events %}
<form action="" method="POST">
    {% csrf_token %}

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Event Name</th>
            <th scope="col">Finish At</th>
        </tr>
        </thead>
        {% for event in past_events %}
        <tr>
            <td>
                <div class="d-flex justify-content-between">
                    <div class="event-name">
                        <strong>{{ event }}</strong>
                    </div>
                    <a href="{% url 'show-event' event.id %}" class="btn btn-info btn-sm">Inspect</a>
                </div>
                </div>
            </td>
            <td>
                {{ event.event_data }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br/>
    <div>
        <button class="btn btn-danger" type="submit" name="clear_events">Clear Past Events</button>
    </div>

</form>

{% else %}
<h3>
    There are no past events...
</h3>
<br/>

{% endif %}


{% endblock %}
