{% extends 'events/base.html' %}

{% block content %}
<center>
    <div class="card text-center mb-3" style="width: 35rem;">
        <div class="card-body">
            <h5 class="card-title" style="font-size: 3em;"> &#x26A0; Delete Venue</h5>
            <p style="font-size: 35px">"{{ venue.name }}"</p>
            <p class="card-text">Do you really want to delete this Venue?<br/>This process cannot be undone!</p>
            <form method="POST" action="{% url 'delete-venue' venue.id %}">
                {% csrf_token %}
                <a href="{% url 'list-venues' %}" class="btn btn-success btn-lg">Cancel</a>
                <input type="submit" class="btn btn-danger btn-lg" value="DELETE">
            </form>
        </div>
    </div>
</center>
{% endblock %}
