{% extends 'events/base.html' %}

{% block content %}
<h1>
    Events
</h1>
{% if user.is_authenticated %}
You Can Add New Event Here -> <a href="{% url 'add-event' %}">Add Event</a>
{% endif %}
<br/>
<br/>
<form class="d-flex" role="search" method="POST" action="{% url 'list-events' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search Event" aria-label="Search"
           name="searched" id="search-input">
    <button class="btn btn-outline-success" type="submit" id="search-button">Search</button>
</form>
<br/>

{% for event in event_list %}
<div class="card">
    <div class="card-header" style="font-size: 30px">
        {{ event }} At {{ event.venue }}
    </div>
    <div class="card-body">
        <p class="card-text">
            <li style="font-size: 20px"><strong>Venue - </strong>{{ event.venue }}</li>
            <li style="font-size: 20px"><strong>Date - </strong>{{ event.event_data }}</li>
            <li style="font-size: 20px"><strong>Manager - </strong>{{ event.manager }}</li>
            <li style="font-size: 20px"><strong>Description - </strong>{{ event.description }}</li>
            <li style="font-size: 20px"><strong>Attendees: </strong>
                {% for user in event.attendees.all %}
                {{ user }},
                {% endfor %}
            </li>
        </p>
    </div>
    {% if user.is_authenticated %}
    {% if user == event.manager or user.is_superuser %}
    <div class="card-footer text-body-secondary">
        <a href="{% url 'update-event' event.id %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'delete-event' event.id %}" class="btn btn-danger">Delete</a>

        <div class="btn-group">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Download
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'event-text' event.id %}">Download Text File</a></li>
                <li><a class="dropdown-item" href="{% url 'event-csv' event.id %}">Download CSV File</a></li>
                <li><a class="dropdown-item" href="{% url 'event-pdf' event.id %}">Download PDF File</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>


<br/>
{% endfor %}
<br/>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% if event_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ event_list.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">&laquo; First</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
        </li>

        {% endif %}

        {% for i in event_list.paginator.page_range %}
        <li class="page-item {% if event_list.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if event_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ event_list.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ event_list.paginator.num_pages }}">Last &raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
<br/><br/><br/><br/>


{% endblock %}