<style>
    .dropdown-menu a.dropdown-item:hover {
        color: dodgerblue;
        text-decoration: none;
    }
</style>
<style>
    .nav.nav-underline .nav-link {
        color: slategray;
    }

    .nav.nav-underline .nav-link:hover {
        color: dodgerblue;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

{% if user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">My Club</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="d-flex" role="search" method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search In My Club" aria-label="Search"
                   name="searched" id="search-input">
        </form>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-underline mx-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="font-size: 20px; font-weight: bold;">
                        Events
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'list-events' %}" style="font-size: 18px">All
                                Events</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a class="dropdown-item"
                               href="{% url 'add-event' %}" style="font-size: 18px">Add Event</a>
                        </li>

                        {% endif %}

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" style="font-size: 18px">Something else here</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="font-size: 20px; font-weight: bold;">
                        Venues
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'list-venues' %}" style="font-size: 18px">All
                                Venues</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a class="dropdown-item" href="{% url 'add-venue' %}" style="font-size: 18px">Add Venue</a>
                        </li>

                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" style="font-size: 18px">Something else here</a>
                        </li>
                    </ul>
                </li>


                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="font-size: 20px; font-weight: bold;">
                        Downloads
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'all-venues-text' %}" style="font-size: 18px">All
                            Venues Text File</a></li>
                        <li><a class="dropdown-item" href="{% url 'all-venues-csv' %}" style="font-size: 18px">All
                            Venues CSV File</a></li>
                        <li><a class="dropdown-item" href="{% url 'all-venues-pdf' %}" style="font-size: 18px">All
                            Venues PDF File</a></li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'all-events-text' %}" style="font-size: 18px">All
                            Events Text File</a></li>
                        <li><a class="dropdown-item" href="{% url 'all-events-csv' %}" style="font-size: 18px">All
                            Events CSV File</a></li>
                        <li><a class="dropdown-item" href="{% url 'all-events-pdf' %}" style="font-size: 18px">All
                            Events PDF File</a></li>

                    </ul>
                    {% endif %}
                </li>

            </ul>

            <ul class="nav nav-underline">
                <li class="nav-item dropstart">
                    <a class="nav-link"
                       style="font-size: 1rem; border: none; outline: none; padding: 10px 12px; border-radius: 10px; background-color: white"
                       href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fa-regular fa-user"></i> {{ user }}
                    </a>


                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'my-events' %}" style="font-size: 18px">My Events</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a class="dropdown-item" href="{% url 'home' %}" style="font-size: 18px">Home</a>
                        </li>

                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}" style="font-size: 18px">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div/>
        </div>
    </div>
</nav>
{% endif %}








