<style>
    .dropdown-menu a.dropdown-item:hover {
        color: dodgerblue;
        text-decoration: none;
    }
</style>
<style>
    .nav.nav-underline .nav-link {
        color: slategray;
    }

    .nav.nav-underline .nav-link:hover {
        color: dodgerblue;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">My Club</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-underline me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' '2023' 'September' %}">Calendar</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Events
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'list-events' %}">All Events</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'add-event' %}">Add Event</a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Venues
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'list-venues' %}">All Venues</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'add-venue' %}">Add Venue</a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Downloads
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'all-venues-text' %}">All Venues Text File</a></li>
                        <li><a class="dropdown-item" href="{% url 'all-venues-csv' %}">All Venues CSV File</a></li>
                        <li><a class="dropdown-item" href="{% url 'all-venues-pdf' %}">All Venues PDF File</a></li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'all-events-text' %}">All Events Text File</a></li>
                        <li><a class="dropdown-item" href="{% url 'all-events-csv' %}">All Events CSV File</a></li>
                        <li><a class="dropdown-item" href="{% url 'all-events-pdf' %}">All Events PDF File</a></li>

                    </ul>
                    {% endif %}
                </li>

            </ul>

            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-dark">Log out</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-dark">Log in</a>
            {% endif %}



            <form class="d-flex" role="search" method="POST" action="{% url 'search-venues' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search"
                       name="searched" id="search-input">
                <button class="btn btn-outline-success" type="submit" id="search-button" disabled>Search</button>
            </form>

            <script>
                const inputField = document.getElementById('search-input');
                const searchButton = document.getElementById('search-button');

                inputField.addEventListener('input', () => {
                    searchButton.disabled = inputField.value.trim() === '';
                });
            </script>

        </div>
    </div>
</nav>