{% extends 'events/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header" style="font-size: 30px">
        {{ event }} At {{ event.venue }}
    </div>

    <div class="card-body">
        <p class="card-text">
            <li style="font-size: 20px"><strong>Venue - </strong><a href="{% url 'show-venue' event.venue.id %}">{{ event.venue }}</a></li>
            <li style="font-size: 20px"><strong>Date - </strong>{{ event.event_data }}</li>
            <li style="font-size: 20px"><strong>Manager - </strong>{{ event.manager }}</li>
            <li style="font-size: 20px"><strong>Description - </strong>{{ event.description }}</li>
            <li style="font-size: 20px"><strong>Attendees: </strong>
                {% for user in event.attendees.all %}
                {{ user }},
                {% endfor %}
            </li>
        </p>
    </div>


    <div class="card-footer text-body-secondary">
        {% if user in event.attendees.all%}
        <a href="{% url 'leave-event' event.id %}" class="btn btn-danger">Leave Event</a>
        {% else %}
        <a href="{% url 'join-event' event.id %}" class="btn btn-success">JOIN EVENT</a>
        {% endif %}

        {% if user.is_authenticated %}
        {% if user == event.manager or user.is_superuser %}
        <a href="{% url 'update-event' event.id %}" class="btn btn-secondary">Update</a>


        <div class="btn-group">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Download
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'event-text' event.id %}">Download Text File</a></li>
                <li><a class="dropdown-item" href="{% url 'event-csv' event.id %}">Download CSV File</a></li>
                <li><a class="dropdown-item" href="{% url 'event-pdf' event.id %}">Download PDF File</a></li>
            </ul>
        </div>
        <a href="{% url 'delete-event' event.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}
