{% extends 'events/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if user == event.manager or user.is_superuser %}
<h1>
    Update Event
</h1>
<br/>
<form action="" method=POST>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"
           class="btn btn-success btn-lg">
    <a href="{% url 'list-events' %}" class="btn btn-secondary btn-lg">Cancel</a>
    <br/><br/>

</form>
    {% else %}
<h1>You aren't Authorized To Update This Event!</h1>
    {% endif %}
{% else %}
<h3>
    <div class="alert alert-warning" role="alert">
        <strong>&#9888; You Must Be Logged In To View This Page!</strong><br/>
        <a href="{% url 'login' %}">Log In</a>
    </div>
</h3>

{% endif %}

{% endblock %}
