{% extends 'events/base.html' %}

{% block content %}

<h1>Venues...</h1>
To Add New Venue Click Here -> <a href="{% url 'add-venue' %}">Add Venue</a>
<br/>

<form class="d-flex" role="search" method="POST" action="{% url 'list-venues' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search"
           name="searched" id="search-input">
    <button class="btn btn-outline-success" type="submit" id="search-button">Search</button>
</form>
<br/>


<table class="table table-bordered table-striped table-hover">
    {% for venue in all_venues %}
    <tr>
        <td>
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <strong>{{ venue }}</strong>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'show-venue' venue.id %}" class="btn btn-info btn-sm">Info</a>
                    {% if user.is_authenticated %}
                    {% if venue.owner == user.id or user.is_superuser %}
                    <a href="{% url 'update-venue' venue.id %}" class="btn btn-secondary btn-sm">Update</a>
                    <a href="{% url 'delete-venue' venue.id %}" class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>

    {% endfor %}

</table>
<br/><br/>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% if all_venues.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ all_venues.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">&laquo; First</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
        </li>

        {% endif %}

        {% for i in all_venues.paginator.page_range %}
        <li class="page-item {% if all_venues.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if all_venues.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ all_venues.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ all_venues.paginator.num_pages }}">Last &raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
