{% extends 'events/base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="shadow p-4 bg-body rounded" style="width: 35%; min-height: 40vh;">

        <form action="" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <div class="d-grid gap-2">
                <input type="submit" value="Log in" class="btn btn-primary btn-lg">
            </div>

        </form>
        <br/>
        <hr>

        <div class="d-grid gap-2 col-6 mx-auto">
                <a href="{% url 'register-user' %}" class="btn btn-success btn-lg">Create an Account</a>
            </div>
    </div>
</div>

{% endblock %}
